.about {
	&__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;

		padding-top: 75px;

		
	}

	&__divider {
		width: 50px;
	}

	&__text-field {
		width: 50%;
	}

	&__img {
		position: relative;
		width: 50%;

		img {
			width: 100%;
			height: auto;
		}
	}


	&__awards {
		border: 1px solid black;
		
	}
}