.contactForm {
	width: 500px;
	margin-left: 20px;
	
	form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	
		.input {
			.form-input;
		}

		textarea {
			.form-input;
			resize: none;
			overflow: hidden;
			height: 100px;
		}

		.check_label {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			margin-top: 20px;
			
			input {
				background: #333;
			}

			span {
				font-family: "Akrobat-Regular";
				color: #333;
				margin-left: 10px;
			}
			
		}

		.btn-submit {
			background: #f6a9af;
			width: 230px;
			height: 50px;
			text-align: center;
			border: 0px;
			cursor: pointer;
			margin-top: 50px;
			margin-bottom: 50px;
			color: #fff;
			font-family: "Akrobat-Bold";
			font-size: 18px;
			
			&:hover {
				background: #F7606C;
			}
		}
	}

}