.footer {
	background: #8ec0bf;
	padding: 50px 0;
	color: #fff;

	.footer_wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;


		.footer_item {

			.title {
				font-family: "Akrobat-Regular";
				font-size: 25px;
			}

			.footer-text {
				font-family: "Akrobat-Regular";
				font-size: 15px;
				margin-top: 40px;
			}

			.footer-link {
				color: #fff;

				.fa {
					margin-right: 5px;
					margin-bottom: 20px;
				}

				&:hover {
					text-decoration: underline;
				}
				a {

				}
			}

			&__menu-holder {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			}

			&__menu-item {
				font-family: "Akrobat";
				font-size: 14px;
				margin-right: 40px;
				a {
					
					color: #fff;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&__subscribe {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;

				margin-top: 35px;

				input.subscribe {
					font-family: "Akrobat-Regular";
					font-size: 18px;
					flex-grow: 3px;
					padding: 25px;
					background: #8ec0bf;
					color: #fff;
					border: 3px solid white;
					outline: none;
					&::placeholder {
						color: #fff;
					}
				}

				button.btn-subscribe {
					font-family: "Akrobat-Regular";
					background: #fff;
					padding: 25px;
					font-size: 18px;
					color: #8ec0bf;
					flex-grow: 1px;
					border: 0;
					margin-left: 20px;

					&:hover {
						background: #f6a9af;
						color: white: ;
					}
				}
			}


		}

		.contacts {
			flex-grow: 1;
		}

		.connected {
			flex-grow: 1;
		}

		.footer-nav {
			flex-grow: 3;
		}
	}

	.copyright {
		font-family: "Akrobat-Regular";
		text-align: center;
		margin-top: 85px;
	}


}
