.header {
	position: relative;
	padding: 45px 0;
	z-index: 99;
	
	&__logo {
		font-family: "Acrobat";
		text-transform: uppercase;
		font-size: 36px;
		position: absolute;
		left: 0;
		top: 0;
		color: @text-color;
		margin-top: 45px;
		width: 17px;
		text-align: center;
		word-wrap: break-word;
		z-index: 10;
	}

	&__menu-holder {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
	}

	&__menu-item {
		margin-left: 60px;
		position: relative;
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom: 2px solid black;
			
		}

		&:hover .drop-block {
			display: block;
			position: absolute;
			top: 100%;
		}
		a {
			font-family: "Acrobat-Regular";

			color: @text-color;
			font-size: 18px;
			width: 100%;
			height: 100%;
		}

		.drop-block {
			display: none;
			padding: 10px;
			width: 200px;
			background: #fff;
			padding: 40px;
			overflow: hidden;

			li {
				padding: 10px 0;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}
