.mainBlock {

	background: #e8e8e8;
	// overflow: hidden;
	position: relative;
	// padding-top: 110px;

	&__title-holder{
		background: transparent;
		// margin: 105px 0;
		// margin-top: 110px;
		margin-left: 185px;
		z-index: 999;
		background: transparent;
	}

	&__img-wrap {
		position: absolute;
		width: 775px;
		top: 0;
		right: 0;
		
		img {
			width: 100%;
			height: auto;
		}
		z-index: 1
	}
}