@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Thin'), local('Akrobat-Thin'), url('Akrobatthin.woff2') format('woff2'), url('Akrobatthin.woff') format('woff'), url('Akrobatthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Light'), local('Akrobat-Light'), url('Akrobatlight.woff2') format('woff2'), url('Akrobatlight.woff') format('woff'), url('Akrobatlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat'), local('Akrobat-Regular'), url('Akrobat.woff2') format('woff2'), url('Akrobat.woff') format('woff'), url('Akrobat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Bold'), local('Akrobat-Bold'), url('Akrobatbold.woff2') format('woff2'), url('Akrobatbold.woff') format('woff'), url('Akrobatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

