* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Akrobat-Regular";

}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.wrap {
	max-width: 1740px;
	margin: 0 auto;
	padding: 0 100px;
}

.wrap-grey {
	max-width: 1740px;
	margin: 0 auto;
	padding: 0 100px;
	background: #e8e8e8;
}

h1, .h1 {
	font-family: "Akrobat-Bold";
	font-size: 70px;
	color: #fff;
	margin-bottom: 35px 0;
	padding: 0;
}

h2 {
	font-family: "Akrobat-Regular"; // need to be changet to BOLD
	color: black;
	font-size: 22px;
	margin-bottom: 65px;
}

p.text {
	color: @text-color;
	margin-bottom: 60px;
	font-family: "Akrobat-Regular";
}

.form-input {
	font-family: "Akrobat-Regular";
	color: @text-color;
	height: 50px;
	margin-top: 20px;
	padding: 20px;
	outline: none;
	border: 0px;
	border-bottom: 1px solid #ddd;
}